:host {
    --disabled-color: #888888;
    --main-color: #F09300;
}

.rating:hover {
    cursor: pointer;
}

iron-icon {
    fill: var(--main-color);
}

:host([disabled]) {
    --main-color: var(--disabled-color);
}

:host([disabled]) .rating:hover {
    cursor: auto;
}
